{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'shared/head.html' %}
  {% block head %}{% endblock %}
</head>
<body class=index>
  <div class="container-fluid header">
    {% include 'shared/nav.html' %}
  </div>
  {% block body %}{% endblock %}

  {% include 'shared/footer.html' %}
</body>

<script>
  var app = document.querySelector('#porcupine');
  var header = document.querySelector('.header');
  if (!app) {
    header.style.left = "0px";
  }
</script>
{% include 'shared/analytics.html' %}
{% block scripts %}{% endblock %}
</html>
