{% extends 'base.html' %}
{% load static %}

{% block body %}
  <!-- What is Giraffe -->
  <div class="container-fluid base">
    <div class="col text-center">
      <h1>Giraffe<h1/>
      <h4 class="">Graphical Interface for Reproducible Analysis For workFlow Experiments</h4>
      Giraffe tools are applications that make it easier to analyse all kinds of data!
    </div>
    <!-- add GitHub stars and forks -->
    <div>
    </div>
  </div>

  <!-- Porcupine -->
  <div class="container-fluid mt-3 ">
    <div class="col text-center">
      <h1>Porcupine<h1/>
      <h4 class="">PORcupine Creates Ur PipelINE</h4>
      With Porcupine, you can visually build your pipeline!
    </div>
    <div class="col text-center">
      <a class="btn btn-lg btn-warning" role="button" href="{% url "porcupine" %}">Get started!</a>
    </div>
  </div>

{% endblock %}
{% block scripts %}
{% endblock %}
