@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  padding: 0px;
}

$text-color: #F25226;
$primary-color: #F7A81C;
$secondary-color: #FAE0A3;
$tertiary-color: #F25226;
$quaternary-color: #FFFAEF;


#roadmap {
  text-align: center;
  background-color: $quaternary-color;
}

#roadmap-elements {
  margin-top: -67px;
}

#why-giraffe {
  text-align: center;
  background-color: white;
}

#people {
  text-align: center;
  background-color: $secondary-color;
}

#contributors {
  text-align: center;
  background-color: $quaternary-color;
}

.contributor-list li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
  font-size: 0.8em;
  background-color: none;

  .avatar-image{
    filter: grayscale(1);
    height: 120px;
    width: 120px;
    padding-top: 5px;
    transition: filter 0.3s;

    &:hover {
      filter: grayscale(0);
    }
  }

  #contributor-tag {
    a {
      color: black;
    }
    background-color: $primary-color;
  }
}

#thanks {
  text-align: center;
  background-color: $primary-color;
}

#contact {
  text-align: center;
  background-color: $secondary-color;
}

#slack {
  text-align: center;
  background-color: $primary-color;
  a {
    color: white;
    font-size: 32px;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    fill: white;
  }
}

#footer {
  text-align:left;
  background-color: white;
}
