@font-face {
  font-family: 'Nexa-Bold';
  src: url('../fonts/Nexa-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('../fonts/PT_Sans-Web-Regular.ttf')  format('truetype');
}

.container-fluid {
  padding: 0px;
}

$text-color: #F25226;
$primary-color: #F7A81C;
$secondary-color: #FAE0A3;
$tertiary-color: #F25226;
$quaternary-color: #FFFAEF;
$quinternary-color: #FCF0D6;


// Banner text
h1 {
  font-family: 'Nexa-Bold';
  font-weight: bold;
  background-image: url('../img/headline_lines_background.svg');
  font-size: 40px;
}
// Big red text
h2 {
  font-family: 'Nexa-Bold';
  font-size: 34px;
  color: $text-color;
}
// Sextion titles
h3 {
  font-family: 'Nexa-Bold';
  font-size: 30px;
}
// Box titles
h4 {
  font-family: 'Nexa-Bold';
  font-size: 2.2rem;
  font-weight: bold;
}
// Within box titles
h5{
  font-family: 'Nexa-Bold';
  font-size: 22px;
  font-weight: bold;
}
// Next to icon text
h6{
  font-family: 'Nexa-Bold';
  color: $text-color;
  font-size: 32px;
  font-weight: bold;
}
// Browsers can't handle more than 6 headlines
.h7{
  font-family: 'Nexa-Bold';
  color: white;
  font-size: 32px;
}

div {
  font-family: 'PT Sans', sans-serif;
}

#typewriter-text{
  div{
    font-family: 'Nexa-Bold';
    font-size: 80px;
    font-weight: bold;
    float: left;
  }
}

.with-lines{
  background-image: url('../img/headline_lines_background.svg');
  background-size: cover;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 5rem;
}

#gallery-box{
  width: 80%;
}

#banner {
  background-image: url('../img/header_subpage_background.jpg');
  background-size: cover;

  height: 250px;
  margin-bottom: 50px;
}

#nav{
  float: right;
  width: 16%;
}

#nav-triangle{
  // max-width: 350px;
  // height: 350px;
}

.question img{
  float: left;
}

.giraffe-button{
  font-family: 'Nexa-Bold';
  background-color: $primary-color;
  color: white;
  border-radius: 2px;
  font-size: 1.7rem;
  padding: 0.2rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.no-giraffe-button{
  font-family: 'Nexa-Bold';
  font-size: 1.2rem;
  background-color: #EDEDEE;
  color: $primary-color;
  border-color: $primary-color;
  border-width: 2px;
  border-radius: 0px;
}

#branch-text{

}

#commit-hash-button{
  font-family: 'Nexa-Bold';
  font-size: 1.2rem;
  background-color: white;
  color: black;
  border-color: grey;
  border-width: 1px;
  border-radius: 2px;
  padding: 0.5rem;
  width: 6rem;
  margin-right: 0.7rem;
}

#no-giraffe-project{
  font-family: 'Nexa-Bold';
  background-color: #EDEDEE;
  color: $primary-color;
  border-color: $primary-color;
  border-width: 2px;
  border-radius: 0px;
  font-size: 1.7rem;
  padding: 0.4rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

#commit-hash-button{
  font-family: 'Nexa-Bold';
  font-size: 1.2rem;
  background-color: white;
  color: black;
  border-color: grey;
  border-width: 1px;
  border-radius: 2px;
  padding: 0.5rem;
  width: 6rem;
  margin-right: 0.7rem;
}


.public-private{
  -webkit-border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

#example-card{
  margin: 4px;
  background-color: $quinternary-color;

  .card-image{
    width: 100%;
  }
}

.project-title{
  float: left;
  font-size: 2rem;
  margin-right: 1rem;
}

#banner-title{
  position: absolute;
  top: 15%;
  left: 25%;
  font-size: 65px;
}

#banner-logo{
  height: 70%;
  float: left;
  padding-left: 100px;
  padding-top: 50px;
}

#footer-logo{
  transform: scaleX(-1);
  float: right;
  max-width: 200px;
  margin-top: 20px;
}

.giraffe-box{
  background-color: $quinternary-color;
  margin: 16px;
  padding: 1rem;
  padding-top: 1.5rem;
padding-bottom: 1.5rem;
}

.no-giraffe{
  background-color: #EDEDEE;
}

#project-box{
  background-image: url('../img/line_bg_coin.png');
  background-size: cover;
}

#username{
  color: $primary-color;
}

#active-project-counter{
  font-size: 40px;
  color: $primary-color;

  -webkit-border-radius:30px;
  border: 4px solid $primary-color;
  width: 60px;
  height: 60px;
  // font-weight: bold;
}

#profile-pic{
  width: 50%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  clip-path: circle(50% at center);
}

#active-giraffe-text{
  font-size: 1.3rem;
  margin-top: 1rem;
}

.separator-red{
  width: 50%;
}

.separator-grey{
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#why-giraffe-image{
  width: 55%;
}

#hero{
  background-color: $quinternary-color;
  background-image: url('../img/code_dark_hero_img.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 600px;
}

.hero-text{
  top: 36px;
  left: 6%;
  position: relative;
}

#hero-logo{
  width: 10%;
  margin-bottom: 60px;
}

#github-button{
  width: 15%;
}

#headline-dot{
  margin-top: 66px;
  margin-bottom: 34px;
  width: 20px;
}

#hero-subtitle{
  font-size: 24px;
  color: grey;
}

#hero-login-button{
  margin-top: 30px;
  font-size: 22px;
}

#porcupine-collage{
  width: 40%;
  float: left;
}
#armadillo-collage{
  width: 40%;
  float: right;
}

#roadmap {
  text-align: center;
  background-color: $quaternary-color;
}

#roadmap-elements {
  margin-top: -67px;
}

#why-giraffe {
  position: relative;
  text-align: center;
}

#people {
  text-align: center;
  background-color: $secondary-color;
}

#people-box{
  position: relative;
  transform: translateY(30%);
}

#contributors {
  text-align: center;
  background-color: $quaternary-color;
}

.contributor-list li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
  font-size: 0.8em;
  background-color: none;

  .avatar-image{
    filter: grayscale(1);
    height: 120px;
    width: 120px;
    padding-top: 5px;
    transition: filter 0.3s;

    &:hover {
      filter: grayscale(0);
    }
  }

  #contributor-tag {
    a {
      color: black;
    }
    background-color: $primary-color;
  }
}

.faq-question-list {
  list-style-image: url('../img/chevron_right.svg');
  .open {
    list-style-image: url('../img/chevron_down.svg');
  }

  li {
    display: inline;
    list-style-type: none;
  }
}

#thanks {
  text-align: center;
  background-color: $primary-color;
}

#contact {
  text-align: center;
  background-color: $secondary-color;
}

#slack {
  text-align: center;
  height: 200px;
  background-color: $quaternary-color;
  background-image: url('../img/slack_section_background.jpg');
  a {
    color: white;
    font-size: 32px;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    fill: white;
  }
}

#your-project-tag {
  background-image: url('../img/headline_lines_background.svg');
}

#footer {
  text-align: left;
  background-color: white;
  height: 200px;
  margin-left: 15px;
}
