@font-face {
  font-family: 'Nexa-Bold';
  src: url('../fonts/Nexa-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('../fonts/PT_Sans-Web-Regular.ttf')  format('truetype');
}

.container-fluid {
  padding: 0px;
}

$primary-color: #F7A81C;
$primary-light-secondary-color: #FFFAEF;
$primary-light-color: #FDEFD6;

$secondary-color: #F25226;
$tertiary-color: #FAE0A3;

$h1-color: #000000;
$h2-color: #000000;
$h2-color-secondary: $secondary-color;
$h3-color: #000000;
$h4-color: #4A4A4A;
$content-text-color: #A4A4A4;
$button-color: #FFFFFF;

// h1 : h2 : h3 : h4
// 90 : 40 : 30 : 17 : 17

// Banner text
h1 {
  font-family: 'Nexa-Bold';
  font-weight: bold;
  font-size: 40px;
}
// Big red text
h2 {
  font-family: 'Nexa-Bold';
  font-size: 2.5rem;
  color: $secondary-color;
}
// Sextion titles
h3 {
  font-family: 'Nexa-Bold';
  font-size: 1.6rem;
}
// Box titles
h4 {
  font-family: 'Nexa-Bold';
  font-size: 2.2rem;
  font-weight: bold;
}
// Within box titles
h5{
  font-family: 'Nexa-Bold';
  font-size: 22px;
  font-weight: bold;
}
// Next to icon text
h6{
  font-family: 'Nexa-Bold';
  color: $secondary-color;
  font-size: 32px;
  font-weight: bold;
}
// Browsers can't handle more than 6 headlines
.h7{
  font-family: 'Nexa-Bold';
  color: white;
  font-size: 32px;
}

div {
  font-family: 'PT Sans', sans-serif;
}

#typewriter-text{
  div{
    font-family: 'Nexa-Bold';
    font-size: 5rem;
    font-weight: bold;
    color: black;
  }
}

#login-text-nav{
  font-family: 'Nexa-Bold';
  font-size: 1.6rem;
}

.with-lines{
  background-image: url('../img/headline_lines_background.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 5rem;
}

#gallery-box{
  width: 80%;
}

.banner {
  background-image: url('../img/header_subpage_background.jpg');
  background-size: cover;
  height: 22rem;
  margin-bottom: 2rem;
}

.whitespace{
  padding-top: 1rem;
}

#banner-title{
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  font-size: 65px;
}

#banner-logo{
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  margin-left: 6rem;
}

#nav-triangle{
  width: 12rem;
  float: right;
  pointer-events: auto;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.nav-out{
  pointer-events: auto;
  width: 25%;
  padding-left: 2rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  background-color: $primary-light-color;
  box-shadow: 0px 0px 5rem black;
}

#nav-top{
  pointer-events: none;
}

#nav-list{
  list-style: none;
  a {
    color: black;
  }
  margin: 2rem 0rem;
}

#brand-box{
  justify-content: flex-end;
}

#giraffe-brand{
  width: 50%;
  text-align: right;
}

.giraffe-link{
  color: black;
}

.giraffe-button-large{
  font-family: 'Nexa-Bold';
  background-color: $primary-color;
  color: white;
  border-radius: 2px;
}

.giraffe-button-small{
  font-family: 'Nexa-Bold';
  background-color: $primary-color;
  color: white;
  font-size: 1.7rem;
  padding: 0.2rem 2rem;
  border-radius: 2px;
}

.no-giraffe-button{
  font-family: 'Nexa-Bold';
  font-size: 1.2rem;
  background-color: #EDEDEE;
  color: $primary-color;
  border-color: $primary-color;
  border-width: 2px;
}

#branch-text{
  border-color: #F7A81C!important;
  border-width: 3px!important;
  padding: 0rem 1rem;
  margin: 0rem 1rem;
}

.project-icon{
  margin: 0.5rem 0.8rem;
}

#repo-box-content{
  margin: 1rem;
}

.gh-icon-small{
  width: 1.25rem;
  margin: 0.2rem 0.5rem 0.2rem 0rem;
  padding-bottom: 1px;
}

.commit-box{
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.commit-day{
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  padding: 1rem 1rem;
}

.commit-day li:last-child {
  border-bottom: 0px!important;
}

#commit-title{
  margin: 2rem;
}

#commit-hash-button{
  font-family: 'Nexa-Bold';
  font-size: 1.2rem;
  background-color: white;
  color: black;
  border-color: grey;
  border-width: 1px;
  border-radius: 2px;
  padding: 0.5rem;
  width: 8rem;
  margin-right: 0.7rem;
}

#no-giraffe-project{
  font-family: 'Nexa-Bold';
  background-color: #EDEDEE;
  color: $primary-color;
  border-color: $primary-color;
  border-width: 2px;
  border-radius: 0px;
  font-size: 1.7rem;
  padding: 0.4rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

.public-private{
  -webkit-border-radius: 1px;
  padding: 0rem 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

#example-card{
  margin: 4px;
  background-color: $primary-light-color;

  .card-image{
    width: 100%;
  }
}

.project-title{
  font-size: 2rem;
  margin-right: 1rem;
}

.giraffe-box{
  background-color: $primary-light-color;
  margin: 16px;
  padding: 1rem;
  padding-top: 1.5rem;
padding-bottom: 1.5rem;
}

.no-giraffe{
  background-color: #EDEDEE;
}

#project-box{
  background-image: url('../img/line_bg_coin.png');
  background-size: cover;
}

#username{
  color: $primary-color;
}

#active-project-counter{
  font-size: 40px;
  color: $primary-color;

  -webkit-border-radius:30px;
  border: 4px solid $primary-color;
  width: 60px;
  height: 60px;
  // font-weight: bold;
}

#profile-pic{
  width: 50%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  clip-path: circle(50% at center);
}

#user-section{
  padding: 0 8%;
}

#active-giraffe-text{
  font-size: 1.3rem;
  margin-top: 1rem;
}

.separator-red{
  width: 60%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.separator-grey{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


#hero{
  background-color: $primary-light-color;
  background-image: url('../img/code_dark_hero_img.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 35.5rem;
}

.hero-text{
  padding-top: 2rem;
  margin-left: 6rem;
}

#hero-logo{
  width: 11%;
  margin-bottom: 60px;
}

#github-button{
  width: 15%;
  margin-right: 0.5rem;
}

#headline-dot{
  margin-top: 66px;
  margin-bottom: 34px;
  width: 20px;
}

#hero-subtitle{
  margin-top: 0.7rem;
  font-size: 1.2rem;
  color: grey;
}

#hero-login-button{
  margin-top: 2rem;
  font-size: 1.1rem;
  padding: 0.2rem 0rem;
  color: white;
  &:hover {
    color: black;
  }
}

#tools{
  margin-bottom: 11rem;
}

#tool-text{
  padding-top: 5rem;
}

.inner-tool-text{
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: grey;
}

#our-tools{
  margin: 4rem;
}

#giraffe-lines{
  left: 8%;
  width: 26%;
  position: absolute;
  bottom: 95.8%;
}

#lower-lines{
  object-fit: cover;
  width: 100%;
  height: 6rem;
}

#inbetween-lines{
  object-fit: cover;
  width: 100%;
  height: 13rem;
}

#diag-lines-first{
  position: absolute;
  width: 100%;
  left: -62%;
  top: -32%;
  z-index: -1;
}

#diag-lines-second{
  position: absolute;
  width: 120%;
  left: -75%;
  top: 70%;
  z-index: -1;
  transform: scaleX(-1);
}

#porcupine-collage{
  width: 90%;
  float: left;
}
#armadillo-collage{
  width: 90%;
  float: right;
}
.collage{
  padding-right: 0rem;
  padding-left: 0rem;
}

#video{
}

#roadmap {
  text-align: center;
  background-color: $primary-light-secondary-color;
  padding-bottom: 5rem;
}

.roadmap-text{
  margin-top: 1rem;
}

 #and-more{
  padding-top: 4rem;
  padding-bottom: 5rem;
}

#roadmap-elements {
  margin-top: -67px;
}

.flip-background{
  //No idea how to flip background
}

#why-giraffe {
  text-align: center;
  width: 80%;
  padding-top: 7rem;
}

#why-giraffe-box{
  float: left;
}
 #why-giraffe-image{
  width: 60%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#giraffe-image{
  position: absolute;
  top: 13%;
  width: 85%;
  left: 7%;
  height: 80%;
}

.icon{
  margin: 0.2rem;
  width: 3rem;
}

#people {
  background-color: $primary-light-color;
  padding-bottom: 4rem;
  position: relative;
  z-index: -5;
  margin-top: 5rem;
}

#people-background{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-light-color;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}

#people-lines{
  position: absolute;
  bottom: -10%;
  z-index: -5;
  width: 20%;
  left: 40%;
}

#people-box{
  margin-top: 2rem;
}

.people-title{
  font-size: 2.2rem;
}


#contributors {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: $primary-light-secondary-color;
}

#contributor-panel{
  padding: 0rem 7%;
}

.contributor-list{
  margin-top: 4rem;
  div{
    width: 100%;
    float: left;
    border: none;
    padding: 2% 2%;
    background: none;

    .avatar-image{
      filter: grayscale(1);
      width: 100%;
      padding-top: 5px;
      transition: filter 0.3s;

      &:hover {
        filter: grayscale(0);
      }
    }

    #contributor-tag {
    background-color: $primary-color;
    padding: 0.3rem 0rem;
      a {
        color: black;
      }
    }
  }
}

#gitcoin-text{
  margin-top: 7rem;
}

#eth-qr-code{
  width: 50%;
  bottom: 0;
  position: absolute;
}


.faq-question-list {
  list-style-image: url('../img/chevron_right.svg');
  .open {
    list-style-image: url('../img/chevron_down.svg');
  }

  li {
    display: inline;
    list-style-type: none;
  }
}

#thanks {
  text-align: center;
  background-color: $primary-color;
  padding: 2rem 0rem;
}

.thanks-logo {
  width: 20%;
  margin: 2rem;
}

#contact {
  height: 22rem;
  background-color: $primary-light-color;
}

#join-us{
  top: 50%;
  transform: translateY(-50%);
}

#mail-tag{
  left: 63%;
  top: 22%;
  float: left;
  position: absolute;
}

#github-tag{
  left: 42%;
  top: 46%;
  float: left;
  position: absolute;
}

.icon-title-text{
 font-family: 'Nexa-Bold';
 color: $secondary-color;
 font-size: 2.3rem;
 font-weight: bold;
}

.icon-tile{
 width: 25%;
 margin-left: 1.2rem;
 margin-right: 1.2rem;
}


#slack {
  text-align: center;
  height: 15rem;
  padding: 3rem;
  background-color: #FFFAEF;
  background-image: url(../img/slack_section_background.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  padding-top: 5rem;
  a {
    color: white;
    font-size: 32px;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    fill: white;
  }
}

#slack-logo{
  width: 5rem;
  margin-right: 3rem;
}

#slack-text{
  font-family: 'Nexa-Bold';
  color: white;
  font-size: 2.2rem;
}


#your-project-tag {
  background-image: url('../img/headline_lines_background.svg');
}

#footer{
  font-size: 0.8rem;
  padding-left: 6rem;
}

.footer-text{
  margin: 2rem;
}

#footer-logo{
  transform: scaleX(-1);
  margin-top: 1rem;
  height: 7rem;
}

#alert-small-screen{
  margin: 0px;
  position: fixed;
  z-index: 1031;
  width: 95%;
  left: 2.5%;
  top: 2.5%;
  text-align: center;
  display: none;
}

.alert-close{
  display: none!important;
}

@media only screen and (max-width: 1200px) {
  #alert-small-screen{
    display: unset;
  }
}
