[submodule "frontend/porcupine/utils/CodeGenerators"]
	path = frontend/porcupine/utils/CodeGenerators
	url = https://github.com/GiraffeTools/CodeGenerators.git
[submodule "backend/porcupine/static/Libraries"]
	path = backend/porcupine/static/Libraries
	url = https://github.com/GiraffeTools/Libraries.git
