{% extends 'base.html' %}
{% load sass_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
<link href="{% sass_src "css/porcupine.scss" %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}
  <div id="porcupine"></div>
{% endblock %}

{% block scripts %}
<script>var jsonFile = "{{filename}}";</script>
<script>var ConfigError = "{{config_error}}";</script>
<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% render_bundle 'porcupine' 'js' 'PORCUPINE' %}
{% endblock %}
