{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/porcupine.css" %}"/>
{% endblock %}

{% block body %}
  <div id="porcupine"></div>
{% endblock %}
{% block scripts %}
<script>var instance;</script>
<script>var jsonFile = "{{filename}}";</script>
<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jsplumb.min.js" %}"></script>

{% render_bundle 'porcupine' 'js' 'PORCUPINE' %}
{% endblock %}
