{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CloudCV Fabrik</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap-3.3.6-dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/fonts/fontCCVF.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/styleCCVF.css"/>
</head>
<body>
  <div id="fabrik"></div>
  <a href="#" id="download" style="display:none;"> Download </a>
</body>
<script>var instance;</script>
<script>var jsonFile = "";</script>
<script src="/static/lib/jquery-2.2.4.min.js"></script>
<script src="/static/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="/static/lib/jsPlumb-2.1.2.min.js"></script>
{% render_bundle 'fabrik' 'js' 'FABRIK' %}
</html>
