$primary-color: #F7A81C;
$primary-light-secondary-color: #FFFAEF;
$primary-light-color: #FDEFD6;

$secondary-color: #F25226;
$tertiary-color: #FAE0A3;

$h1-color: #000000;
$h2-color: #000000;
$h2-color-secondary: $secondary-color;
$h3-color: #000000;
$h4-color: #4A4A4A;