@font-face {
  font-family: 'Nexa-Bold';
  src: url('/static/fonts/Nexa-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('/static/fonts/PT_Sans-Web-Regular.ttf')  format('truetype');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#porcupine{
  height: 100%;
  width: 100%;
}

.code-pane{
  pre {
    overflow-x: hidden!important,
  }
}

.customScrollbar::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.customScrollbar::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.customScrollbar::-webkit-scrollbar-thumb
{
  background-color: #cdcfd2;
}



@import "./trig.scss";

//vars
$fg:#F7A81C;
$bg:#FFFAEF;
$pi:3.14;
$spacing:50px;
$menu-items:5;
$open-distance:75px;
$size:$open-distance * 0.6;
//config
// $open-distance:75px;
// $size:$open-distance * 0.6;
// $opening-angle:$pi - .2;


%goo{
  filter:url('#shadowed-goo');
  // debug
  // background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border-radius:100%;
  width:$size;
  height:$size;
  // margin-left:-40px;
  position:absolute;
  // top:20px;
  color:white!important;
  text-align:center;
  line-height:$size;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
}
.hamburger{
  $width:20px;
  $height:3px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;
}
$hamburger-spacing:8px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg);
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg);
  }
}
.menu{
  @extend %goo;
}


.menu-item{
  &:hover{
    background:white;
    color:$fg!important;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:10ms+(60ms*($i));
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  // transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(1.2,1.2) translate3d(0,0,0);
  // transform:scale(0.8,0.8) translate3d(0,0,0);
}


.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(100ms*$i);
      transform:translate3d($spacing*$i,0,0);
    }
  }
}

:root {
    --main-color: #000;
    --main-color-high:#222;
    --text-color:#cccccc;
    --text-hover: #fff;
  }

.minimalist-toolbar{
    overflow-y: visible;
    position: absolute;
    top:0px;
    z-index: 1;
    left:0px;
    max-height: 30px;
    min-height: 12px;
    background:var(--main-color);
    width:100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.minimalist-toolbar> ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: var(--main-color);
    font-size: 12pt;
    white-space: nowrap;
}

.minimalist-toolbar> ul> li {
    float: left;
    color: var(--text-color);
}

.minimalist-toolbar> ul> li:hover{
    color:var(--text-hover)
}

.minimalist-toolbar> ul> li a{
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    text-align: left;
}

.minimalist-toolbar> ul> li a:hover{
    color:var(--text-hover);
    text-decoration: none;
    font-weight: 200;
    background-color: #111;
    cursor:pointer;
    clear:both
}

.minimalist-toolbar-brand{
    color:var(--text-hover);
    font-weight: 100;
    background: transparent;
}

.minimalist-toolbar-brand:hover{
    background: transparent;
    font-weight: 400;
}
.minimalist-toolbar> ul> li .brand a{
    padding-left: 5px;
}

.minimalist-toolbar> ul> li .brand a:hover{
  background: transparent;
}

.minimalist-toolbar-brand .logo{
    width: 18px;
    margin-right: 5px;
    margin-left:10px;
    padding:auto;
    vertical-align: middle;
    height: 100%;
}

/*dropdown*/
.minimalist-toolbar .dropdown {
    position: relative;
    display: inline-block;
    color: var(--text-color);
    overflow: visible;
}

.minimalist-toolbar .dropdown:hover, .minimalist-toolbar .dropdown-content:hover{
    background: var(--main-color);
    color: var(--text-hover);
}

.minimalist-toolbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 200px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.minimalist-toolbar .dropdown:hover .dropdown-content {
    display:inline-block;
    white-space: nowrap;
    color: var(--text-color);
}

.minimalist-toolbar .dropdown-content a:hover{
    color:var(--text-hover);
}
