{% load static %}

<meta charset="UTF-8">
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}"/>
<title>Giraffe</title>
