{% load static %}

<meta charset="UTF-8">
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"/>
<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"/>

<link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "/favicon-16x16.png" %}">
<link rel="manifest" href="{% static "/site.webmanifest" %}">
<link rel="mask-icon" href="{% static "/safari-pinned-tab.svg" %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>GiraffeTools</title>
