@font-face {
  font-family: 'Nexa-Bold';
  src: url('/static/fonts/Nexa-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('/static/fonts/PT_Sans-Web-Regular.ttf')  format('truetype');
}

html,body,#app,.app,.row-offcanvas{
  height:100%;
  font-family: 'ProximaNova-Regular', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#porcupine{
  height: 100%;
}

.code-pane{
  pre {
    overflow-x: hidden!important,
  }
}

.customScrollbar::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.customScrollbar::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.customScrollbar::-webkit-scrollbar-thumb
{
  background-color: #cdcfd2;
}



@import "./trig.scss";

//vars
$fg:#F7A81C;
$bg:#FFFAEF;
$pi:3.14;
$spacing:50px;
$menu-items:5;
$open-distance:75px;
$size:$open-distance * 0.6;
//config
// $open-distance:75px;
// $size:$open-distance * 0.6;
// $opening-angle:$pi - .2;


%goo{
  filter:url('#shadowed-goo');
  // debug
  // background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border-radius:100%;
  width:$size;
  height:$size;
  // margin-left:-40px;
  position:absolute;
  // top:20px;
  color:white!important;
  text-align:center;
  line-height:$size;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
}
.hamburger{
  $width:20px;
  $height:3px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;
}
$hamburger-spacing:8px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg);
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg);
  }
}
.menu{
  @extend %goo;
}


.menu-item{
  &:hover{
    background:white;
    color:$fg!important;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:10ms+(60ms*($i));
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  // transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(1.2,1.2) translate3d(0,0,0);
  // transform:scale(0.8,0.8) translate3d(0,0,0);
}


.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{

    &:nth-child(#{$i+2}){
      transition-duration:90ms+(100ms*$i);
      transform:translate3d($spacing*$i,0,0);
    }
  }
}
