@font-face {
  font-family: 'Nexa-Bold';
  src: url('/static/fonts/Nexa-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('/static/fonts/PT_Sans-Web-Regular.ttf')  format('truetype');
}

html,body,#app,.app,.row-offcanvas{
  height:100%;
  font-family: 'ProximaNova-Regular', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#porcupine{
  height: 100%;
}

.code-pane{
  pre {
    overflow-x: hidden!important,
  }
}

.customScrollbar::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.customScrollbar::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.customScrollbar::-webkit-scrollbar-thumb
{
  background-color: #cdcfd2;
}
