{% extends 'shared/base.html' %}
{% load sass_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
  {{ block.super }}
  <script src="https://aframe.io/releases/0.6.0/aframe.min.js"></script>
  <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <link href="{% sass_src "css/armadillo.scss" %}" rel="stylesheet" type="text/css" />
  <link href="{% sass_src "css/shards.css" %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block body %}
  <div id="armadillo"></div>
  {% csrf_token %}
{% endblock body %}

{% block scripts %}
  {{ block.super }}
  {% render_bundle 'armadillo' 'js' 'ARMADILLO' %}
{% endblock scripts %}
