@font-face {
  font-family: 'Nexa-Bold';
  src: url('/static/fonts/Nexa-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Nexa-Light';
  src: url('/static/fonts/Nexa-Light.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'PT Sans', sans-serif;
  src: url('/static/fonts/PT_Sans-Web-Regular.ttf')  format('truetype');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#porcupine{
  height: 100%;
  width: 100%;
}
